* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

nav ul li a {
  color: white;
  font-weight: 700;
  text-decoration: none;
}

.container {
  padding: 20px; /* Add more padding */
  border-radius: 20px; /* Add roundness */
  background: linear-gradient(to right, #f0a3a3, #f4d9da, #d9f4e5, #a3f0e7); /* Add multiple colors */
  background-size: 400% 100%; /* Adjust background size */
  animation: slideColors 10s infinite;
}

@keyframes slideColors {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}


.body {
  max-height: 100vh;
}  

